body{
    background-color:#E6CA7C;
    font-family: "Koulen", serif;
    background: linear-gradient(to top, #FFD1DC, #F8E5C0, #F3D6A2, #E6CA7C);
    background-attachment: fixed;
}
.awal{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 7rem;
    background:url('assets/image/9518879.jpg') no-repeat center center/cover;
}
.text{
    padding: 2rem;
    border: 3px solid #442419;
    color: #442419;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(12px);
    /* transition: all 0.3s ease; */
}
h1{
    margin: 0 0 0.3rem;
}
h4{
    margin: 0 0 0.5rem;
}
.description{
    margin: 2rem;
}
.description p{
    text-align: center;
    font-size: x-large;
    padding:2.5rem;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
}
.promo {
    color: #222;
    padding: 10px 20px;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid #442419;
    border-radius: 20px;
    transition: all 0.6s ease;
}
.promo:hover {
    color: #E6CA7C;
    background-color: #442419;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
.img{
    margin: 2rem;
}
.img img{
    width: 500px;
    height: auto;
    top: auto;
    padding:0 0 0 2rem;
}

.tengah{
    width: 100%;
    height: auto;
}
h2{
    text-align: center;
    padding: 2rem 0 0;
}
/* h5{
    text-align: center;
} */
.coffee-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 8rem;
}

.coffee-text {
    color: #442419;
    margin-top: 30px;
}

.coffee-card {
    background-color: #442419;
    padding-top: 20px;
    border-radius: 20px;
    width: 250px;
    border: 2px solid #442419;
    height: auto;
    box-shadow: 0 2px 10px black;
    transition: all 0.3s;
}
.coffee-card:hover {
    transform: scale(1.05);
}
.coffee-image {
    background-color: #E6CA7C;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.coffee-info {
    padding: 5px 0 0;
}

.coffee-info h4 {
    color: #E6CA7C;
   
}
.coffee-info h6 {
    color: #ac9a68;
    text-decoration: line-through;
}
footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #442419;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon a{
    text-decoration: none;
    font-size: x-large;
    color: #E6CA7C;
    padding: 1.5rem 0 0;
    margin: 5px 5px 0;
}
footer p{
    font-size: small;
    color: #E6CA7C;
    text-align: center;
    padding: 0 0 1rem;
}