body{
    background:url('assets/image/coffee-frame.jpg') no-repeat center center/cover;
    /* background: linear-gradient(to top, #FFD1DC, #F8E5C0, #F3D6A2); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.location-body{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.location-section {
    padding: 20px 30px;
    backdrop-filter: blur(10px);
    /* border: 5px solid #442419; */
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 6.5rem 2rem 1rem;
    transition: all 1s;
}
/* .location-section:hover{
    backdrop-filter: blur(20px);
} */
.location-section i{
    font-size: large;
    border: 3px solid #442419;
    border-radius: 50px;
    padding: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 10px;
    transition: all 0.3s;
}
.location-section i:hover{
    color: #E6CA7C;
    background: #442419;
}
.location-section h2 {
    color: #442419;
    margin-bottom: 20px;
    text-align: center;
}
.location-info {
    margin-bottom: 20px;
}
.info-item {
    width: auto;
    color: #442419;
}
.info-item h3 {
    color: #442419;
}
.lokasi {
    text-align: center;
    padding: 20px 10px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 6.5rem 2rem 1rem;
}
.lokasi h2 {
    color: #442419;
    margin-bottom: 20px;
}
.Order{
    color: #442419;
    text-align: center;
    padding: 1rem;
    margin: 2rem 2rem 5rem;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.Order h2{
    margin: 0;
}
footer{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #442419;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-icon a{
    text-decoration: none;
    font-size: x-large;
    color: #E6CA7C;
    padding: 1.5rem 0 0;
    margin: 5px 5px 0;
}
footer p{
    font-size: small;
    color: #E6CA7C;
    text-align: center;
    padding: 0 0 1rem;
}
@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
 
}

@media (max-width: 768px) {
    .location-body{
        display: flex;
        flex-direction: column;  
    }
    .lokasi{
        margin: 1rem 2rem;
    }
}

@media (max-width: 576px) {
    .location-body{
        display: flex;
        flex-direction: column;  
    }
    .lokasi{
        margin: 1rem 2rem;
    }
}