body{
    font-family: "Koulen", serif;
    background: linear-gradient(to top, #FFD1DC, #F8E5C0, #F3D6A2, #E6CA7C);
    background-attachment: fixed;
}

.title h1 {
    text-align: center;
    padding-top: 80px;
    color: #442419;
    text-decoration: underline;
    letter-spacing: 5px;
}

/* menu */
.menu-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 8rem;
}

.menu-text {
    color: #442419;
    font-size: 35px;
    margin-top: 50px;
    margin-left: 60px;
    letter-spacing: 1.5px;
}

.menu-card {
    background-color: #442419;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    width: 250px;
    border: 2px solid #442419;
    height: 320px;
    box-shadow: 0 2px 10px black;
    transition: all 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-image {
    background-color: #E6CA7C;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.menu-info {
    padding: 10px;
}

.menu-info h4 {
    color: #E6CA7C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* menu */

/* footer */
footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #442419;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon a{
    text-decoration: none;
    font-size: x-large;
    color: #E6CA7C;
    padding: 1.5rem 0 0;
    margin: 5px 5px 0;
}

footer p{
    font-size: small;
    color: #E6CA7C;
    text-align: center;
    padding: 0 0 1rem;
}
/* footer */

/* button */
.all-menu {
    text-align: center;
    margin-top: 20px;
}

.all-menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #442419;
    color: #E6CA7C;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s;
    box-shadow: 0px 5px 10px black;
}

.all-menu-button:hover {
    transform: scale(1.05);
}
/* button */