body{
    background-color:#E6CA7C;
    font-family: "Koulen", serif;
    background: linear-gradient(to top, #FFD1DC, #F8E5C0, #F3D6A2, #E6CA7C);
    background-attachment: fixed;
}

/* menu */
.menu-container {
    height: auto;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    margin-bottom: 3.5rem;
}

.menu-text h1{
    color: #442419;
    text-align: center;
    font-size: 45px;
    padding-top: 80px;
    letter-spacing: 1.5px;
}

.menu-card {
    background-color: #442419;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    width: 220px;
    border: 2px solid #442419;
    height: 300px;
    box-shadow: 0 2px 10px black;
    transition: all 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);
}

.menu-image {
    background-color: #E6CA7C;
    width: 180px;
    height: 180px;
    border-radius: 20px;
}

.menu-info {
    padding: 10px;
}

.menu-info h4 {
    color: #E6CA7C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* menu */

/* button */
.all-menu {
    text-align: center;
    margin-bottom: 6rem;
}

.all-menu-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #442419;
    color: #E6CA7C;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s;
    box-shadow: 0px 5px 10px black;
}

.all-menu-button:hover {
    transform: scale(1.05);
}
/* button */

/* footer */
footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #442419;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon a{
    text-decoration: none;
    font-size: x-large;
    color: #E6CA7C;
    padding: 1.5rem 0 0;
    margin: 5px 5px 0;
}

footer p{
    font-size: small;
    color: #E6CA7C;
    text-align: center;
    padding: 0 0 1rem;
}
/* footer */

@media (max-width: 1024px) {
    .menu-container {
        padding: 10px;
        gap: 25px;
        margin-bottom: 2.5rem;
    }

    .menu-text h1{
        font-size: 35px;
        margin-top: 50px;
        letter-spacing: 1.5px;
    }

    .menu-card {
        width: 180px;
        height: 240px;
    }
    
    .menu-image {
        width: 140px;
        height: 140px;
    }

    .menu-info h4{
        font-size: 18px;
    }

    .all-menu-button {
        padding: 10px 10px;
        font-size: 15px;
    }
}

@media (max-width: 857px) {
    .menu-container {
        gap: 20px;
    }

    .menu-text h1{
        margin-top: 40px;
    }

    .menu-card {
        width: 170px;
        height: 220px;
    }
    
    .menu-image {
        width: 130px;
        height: 120px;
    }

    .menu-info h4{
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .menu-container {
        padding: 20px 50px;
        gap: 40px;
    }

    .menu-text h1{
        margin-top: 30px;
    }

    .menu-card {
        width: 200px;
        height: 270px;
    }
    
    .menu-image {
        width: 150px;
        height: 150px;
    }

    .menu-info h4{
        font-size: 20px;
    }
}

@media (max-width: 540px) {
    .menu-container {
        padding: 20px;
        gap: 30px;
    }

    .menu-card {
        width: 170px;
        height: 220px;
    }
    
    .menu-image {
        width: 140px;
        height: 120px;
    }

    .menu-info h4{
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    .menu-container {
        padding: 10px;
        gap: 20px;
    }

    .menu-text h1{
        font-size: 28px;
        margin-top: 30px;
        letter-spacing: 1.5px;
    }

    .menu-card {
        width: 150px;
        height: 200px;
    }
    
    .menu-image {
        width: 120px;
        height: 100px;
    }

    .menu-info h4{
        font-size: 16px;
    }
}

@media (max-width: 340px) {
    .menu-container {
        padding: 5px;
        gap: 15px;
    }

    .menu-card {
        width: 130px;
        height: 180px;
    }
    
    .menu-image {
        width: 100px;
        height: 100px;
    }

    .menu-info h4{
        font-size: 14px;
    }
}