body{
    background-color:#E6CA7C;
    font-family: "Koulen", serif;
    background: linear-gradient(to top, #FFD1DC, #F8E5C0, #F3D6A2, #E6CA7C);
    background-attachment: fixed;
}

.title h1 {
    text-align: center;
    padding-top: 80px;
    color: #442419;
    text-decoration: underline;
    letter-spacing: 5px;
}

/* menu */
.coffee-container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 8rem;
}

.coffee-text {
    color: #442419;
    margin-top: 30px;
    margin-left: 30px;
}

.coffee-card {
    background-color: #442419;
    padding-top: 20px;
    border-radius: 20px;
    width: 250px;
    border: 2px solid #442419;
    height: 320px;
    box-shadow: 0 2px 10px black;
    transition: all 0.3s;
}

.coffee-card:hover {
    transform: scale(1.05);
}

.coffee-image {
    background-color: #E6CA7C;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.coffee-info {
    padding: 10px;
}

.coffee-info h4 {
    color: #E6CA7C;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* footer */
footer {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #442419;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon a{
    text-decoration: none;
    font-size: x-large;
    color: #E6CA7C;
    padding: 1.5rem 0 0;
    margin: 5px 5px 0;
}

footer p{
    font-size: small;
    color: #E6CA7C;
    text-align: center;
    padding: 0 0 1rem;
}