body {
  font-family: "Koulen", serif;
  background: linear-gradient(to top, #ffd1dc, #f8e5c0, #f3d6a2, #e6ca7c);
  background-attachment: fixed;
}

.title h1 {
  text-align: center;
  padding-top: 80px;
  color: #442419;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-bottom: 50px;
}

/* menu */
.menu-container {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 4rem;
  margin-bottom: 8rem;
}

.menu-card {
  background-color: #442419;
  align-content: center;
  border-radius: 20px;
  width: 350px;
  height: 350px;
  box-shadow: 0 2px 10px black;
  transition: all 0.3s;
  text-align: center;
  margin-left: 30px;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-image {
  background-color: #e6ca7c;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.menu-text {
  color: #442419;
}

.menu-text h2 {
  letter-spacing: 2px;
}

.menu-text h4 {
  padding-top: 20px;
  text-decoration: line-through;
  color: #5c3b30;
}

.menu-text h3 {
  padding-top: 20px;
  margin-left: 5px;
}

.menu-text p {
  padding-top: 20px;
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

.menu-details {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #442419;
}

/* button */
.kirim {
    padding-top: 30px;
}

.kirim-btn {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 10px 60px;
    background-color: #442419;
    color: #E6CA7C;
    font-size: 18px;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.3s;
    box-shadow: 0px 5px 10px black;
    margin-bottom: 6rem;
}

.kirim-btn:hover {
    transform: scale(1.05);
}
/* button */

/* menu */

/* footer */
footer {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: #442419;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon a {
  text-decoration: none;
  font-size: x-large;
  color: #e6ca7c;
  padding: 1.5rem 0 0;
  margin: 5px 5px;
}

footer p {
  font-size: small;
  color: #e6ca7c;
  text-align: center;
  padding: 0 0 1rem;
}
/* footer */


/* responsive */
@media (max-width: 1024px) {
  .menu-card {
    width: 300px;
    height: 300px;
    margin-left: 20px;
  }
  
  .menu-image {
    width: 260px;
    height: 260px;
  }

  .menu-text h2 {
    font-size: 1.5rem;
  }

  .menu-text h4 {
    padding-top: 15px;
    font-size: 1.3rem;
  }
  
  .menu-text h3 {
    padding-top: 15px;
    font-size: 1.4rem;
  }

  .menu-text p {
    padding-top: 15px;
    font-size: 1.1rem;
  }

  .kirim {
    padding-top: 25px;
  }

  .kirim-btn {
    margin: 0 10px 0 0;
    padding: 10px 50px;
    font-size: 15px;
  }
}

@media (max-width: 857px) {
  .menu-card {
    width: 280px;
    height: 280px;
    margin-left: 0;
  }
  
  .menu-image {
    width: 240px;
    height: 240px;
  }

  .kirim {
    padding-top: 15px;
  }

  .kirim-btn {
    padding: 10px 30px;
  }

  .menu-text p {
    font-size: 1rem;
    padding-top: 10px;
  }

  .menu-text h4 {
    padding-top: 5px;
  }
  
  .menu-text h3 {
    padding-top: 5px;
  }
}

@media (max-width: 768px) {
  .menu-container {
    grid-template-columns: 1fr;
    padding: 0 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-card {
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
  }

  .menu-image {
    width: 210px;
    height: 210px;
  }

  .menu-details {
    flex-direction: column;
    text-align: center;
  }

  .menu-text p {
    padding-top: 15px;
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .menu-container {
    padding: 0 2.5rem;
  }

  .menu-card {
    width: 200px;
    height: 200px;
  }

  .menu-image {
    width: 170px;
    height: 170px;
  }

  .kirim {
    padding-top: 12px;
  }

  .kirim-btn {
    padding: 10px 20px;
  }
}

@media (max-width: 375px) { 
  .menu-container {
    padding: 0 2rem;
  }

  .kirim {
    padding-top: 10px;
  }

  .kirim-btn {
    padding: 10px 15px;
  }
}
/* responsive */